@import '../../sass/variable.scss';
.category-card{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    border: 1px solid $gray-medium;
    padding: 8px;
    border-radius: 12px;
    text-align: center;
    img{
        border-radius: 10px;
    }
    h5{

    }
}